// =======================================
// Font Library Settings
// =======================================
// 시스템 폰트
$font-family-ko: 'Noto Sans Korean', sans-serif, serif;
$font-family-en: Arial, sans-serif, serif;

/* =======================================*/
/* Base Fonts Style Settings
/* =======================================*/
html {
    font-size: $html-fz;
    &[lang="ko-KR"], &[lang="ko"] {
        font-family: $font-family-ko;
    }
    &[lang="en"] {
        font-family: $font-family-en;
    }
    body {
        font-size: rem($body-fz);
        color: $font-base;
        line-height: $base-line;
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (      min--moz-device-pixel-ratio: 2),
            only screen and (      -o-min-device-pixel-ratio: 2/1),
            only screen and (           min-device-pixel-ratio: 2),
            only screen and (              min-resolution: 192dpi),
            only screen and (               min-resolution: 2dppx) {
            -webkit-font-smoothing: antialiased;
        }
    }
}