// =======================================
// Typography
// =======================================

// Heading Retina Design Font Size 설정
$h1-fz: 30px;
$h2-fz: 26px;
$h3-fz: 23px;
$h4-fz: 20px;
$h5-fz: 18px;
$h6-fz: 16px;

h1, h2, h3, h4 {
    font-weight: 500;
}
h5, h6 {
    font-weight: 400;
}

// 제목 폰트 사이즈, 행간 비율 (px, rem)
h1 {
    @include psd-fz($h1-fz);
    @include psd-lh($h1-fz);
}
h2 {
    @include psd-fz($h2-fz);
    @include psd-lh($h2-fz);
}
h3 {
    @include psd-fz($h3-fz);
    @include psd-lh($h3-fz);
}
h4 {
    @include psd-fz($h4-fz);
    @include psd-lh($h4-fz);
}
h5 {
    @include psd-fz($h5-fz);
    @include psd-lh($h5-fz);
}
h6 {
    @include psd-fz($h6-fz);
    @include psd-lh($h6-fz);
}

pre, code {
    font-family: $font-family-ko;
    line-height: $base-line;
}