@mixin row($extend: true) {
    // 미디어쿼리 내부 사용 시 $extend: false 사용
    @if $extend {
        @extend %row;
    }
    @else {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
%row {
    @include row($extend: false);
}