/* =======================================*/
/* Container Layout Style
/* =======================================*/
.wrap {
    @include layout(6 0px/60px);
    @include container(100%);
    min-width: $min-mobile;
    padding: 0 20px;
    // Mobile만 적용
    @include susy-breakpoint(em($max-mobile)) {
        @include layout(6 0px/80px);
    }
    // Tablet 이상
    @include susy-breakpoint(em($tablet)) {
        @include layout(6 0px/120px);
    }
    // Tablet만 적용
    @include susy-breakpoint(em($tablet) em($desktop)) {
        @include layout(6 0px/113px);
    }
    // Desktop 이상
    @include susy-breakpoint(em($desktop)) {
        @include layout(6 22px/165px);
        @include container($desktop);
    }
}

/* =======================================*/
/* 아이템 정렬
/* =======================================*/
.fl-align {
    float: left;
    &:after {
        clear: both;
    }
}

.fr-align {
    float: right;
    &:after {
        clear: both;
    }
}

/* =======================================*/
/* 영역 숨김 / 표시 설정
/* =======================================*/
.area-hidden {
    display: none;
    visibility: hidden;
}
.area-visible {
    display: none;
    visibility: visible;
}

/* =======================================*/
/* 공간 지우기 설정
/* =======================================*/
.pt-zero {
    padding-top: 0 !important;
}
.pb-zero {
    padding-bottom: 0 !important;
}
.pl-zero {
    padding-left: 0 !important;
}
.pr-zero {
    padding-right: 0 !important;
}
.mt-zero {
    margin-top: 0 !important;
}
.mb-zero {
    margin-bottom: 0 !important;
}
.ml-zero {
    margin-left: 0 !important;
}
.mr-zero {
    margin-right: 0 !important;
}

/* =======================================*/
/* Skip Navigation 설정
/* =======================================*/
.skip-link {
    position: absolute;
    top: -35px;
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #333;
    &:hover, &:focus, &:active {
        top: 0;
        color: #efefef;
    }
}

/* =======================================*/
/* Header : Top menu & GNB
/* =======================================*/
.header {
    border-bottom: 1px solid #aaa;
    @extend %clearfix;
}
.top-menu {
    display: none;
    min-width: $min-mobile;
    height: 35px;
    line-height: 35px;
    background: $bg-top-menu;
    .wrap {
        .menu {
            text-align: right;
            a {
                @include psd-fz(13px);
                font-weight: 100;
                color: $font-top-menu;
                &:after {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    background: $ber-top-menu;
                    content: "";
                    margin: 0 6px 0 10px;
                }
                &:last-child {
                    &:after {
                        background: transparent;
                    }
                }
            }
        }
        .link {
            display: none;
            a {
                display: block;
                height: 35px;
                color: $font-my-library;
                text-align: center;
                background: $btn-my-library;
            }
        }
    }
    @include susy-breakpoint(em($tablet)) {
        display: block;
        .wrap {
            .menu {
                display: inline-block;
                width: -webkit-calc( 100% - 110px );
                width: -moz-calc( 100% - 110px );
                width: calc( 100% - 110px );
            }
            .link {
                display: inline-block;
                width: 110px;
                @include last;
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        .wrap {
            margin: 0;
            padding: 0;
        }
    }
    @include susy-breakpoint(em($desktop)) {
        @include layout(10 0/110);
        .wrap {
            padding: 0 20px;
            .menu {
                @include span(9);
            }
            .link {
                display: inline-block;
                @include span(1);
                @include last;
            }
        }
    }
}
.top-area {
    min-width: $min-mobile;
    height: 80px;
    padding: 0;
    @extend %clearfix;
    .wrap {
        position: relative;
        .logo {
            position: absolute;
            left: 50%;
            margin-left: -95px;
            a {
                display: block;
                width: 190px;
                height: 80px;
                text-indent: -9999px;
                background: url($bg-logo) 50% center no-repeat;
            }
        }
        .gnb {
            display: inline-block;
            .btn-gnb-menu {
                display: block;
            }
            #gnb-menu {
                display: none;
            }
        }
        .btn-agency {
            display: none;
            width: 110px;
            height: 80px;
            background: #f2f2f2 url($icon-notebook) center 14px no-repeat;
            a {
                display: block;
                @include psd-fz(12px);
                color: #1b1b1b;
                letter-spacing: -0.04em;
                text-align: center;
                width: 100%;
                height: 80px;
                padding-top: 50px;
            }
        }
    }
}
.top-area {
    @include susy-breakpoint(em($tablet)) {
        .wrap {
            @include layout(6 0/113);
            padding: 0;
            .logo {
                position: static;
                left: auto;
                margin-left: auto;
            }
            .btn-agency {
                display: block;
                @include  last;
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        .wrap {
            .logo {
                position: absolute;
                left: 50%;
                margin-left: -95px;
            }
        }
    }
    @include susy-breakpoint(em($desktop)) {
        .wrap {
            @include layout(10 0/110);
            padding: 0 20px;
            .logo {
                @include span(2);
                background-position: left center;
            }
            .gnb {
                @include span(7);
                .btn-gnb-menu {
                    display: none;
                }
                #gnb-menu {
                    display: block;
                    text-align: center;
                    visibility: visible;
                }
            }
            .btn-agency {
                @include span(1 last);
            }
        }
    }
}

/* =======================================*/
/* Container : 컨테이너 영역
/* =======================================*/
#container {
    display: block;
    min-height: 670px;
    @extend %clearfix;
    /* Content 영역 */
    &.sub-content {
        .content-area {
            margin-bottom: 30px;
        }
        @include susy-breakpoint(em($tablet)) {
            .content-area {
                margin-top: 0;
            }
        }
        @include susy-breakpoint(em($tablet) em($desktop)) {
            .content-area {
                margin-bottom: 60px;
            }
        }
        @include susy-breakpoint(em($desktop)) {
            margin-top: 42px;
            .content-area {
                margin-bottom: 120px;
            }
        }
    }
}

/* =======================================*/
/* Container : 서브 헤드라인 영역
/* =======================================*/
.sub-headline {
    background: #e1f1ff;
    .wrap {
        height: 90px;
        background: url($bg-sub-top-title) no-repeat;
        background-position: right -21px center;
        .headline {
            @include h-center ($position: relative, $h-percent: 50%);
            h2 {
                @include psd-fz(20px);
            }
            p {
                display: none;
            }
        }
    }
    @include susy-breakpoint(em($desktop)) {
        .wrap {
            height: 110px;
            text-align: center;
            background-position: right center;
            .headline {
                h2 {
                    @include psd-fz(26px);
                }
                p {
                    display: block;
                }
            }
        }
    }
}

/* =======================================*/
/* Footer : 관련 사이트
/* =======================================*/
.footer-link-banner {
    background: #eaeaea;
    .wrap {
        .link-banner-area {
            position: relative;
            height: 98px;
            padding: 24px 37px;
            .owl-carousel {
                @extend %clearfix;
                li {
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    background: #fff;
                    a {
                        display: block;
                        width: 100%;
                        height: 53px;
                        line-height: 48px;
                        text-align: center;
                        img {
                            width: auto;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span {
                            display: none;
                        }
                    }
                }
                .owl-nav {
                    .owl-prev {
                        position: absolute;
                        top: 50%;
                        left: -37px;
                        width: 23px;
                        height: 23px;
                        line-height: 23px;
                        text-align: center;
                        border-radius: 50%;
                        margin-top: -12px;
                        background: #bdbbbb;
                        &:before {
                            @include fa($icon: "\f104", $fz: 18px, $color: #1c1c1c);
                        }
                    }
                    .owl-next {
                        position: absolute;
                        top: 50%;
                        right: -37px;
                        width: 23px;
                        height: 23px;
                        line-height: 23px;
                        text-align: center;
                        border-radius: 50%;
                        margin-top: -12px;
                        background: #bdbbbb;
                        &:before {
                            @include fa($icon: "\f105", $fz: 18px, $color: #1c1c1c);
                        }
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* Footer : 사이트 정보
/* =======================================*/
.footer {
    width: 100%;
    min-height: 170px;
    @include psd-fz(12px);
    color: $font-footer-default;
    background: $bg-footer;
    .site-area {
        @include span(full);
        padding-top: 25px;
        padding-bottom: 25px;
        .site-info {
            a {
                display: inline-block;
                text-align: center;
                width: 49.5%;
                height: 30px;
                line-height: 30px;
                color: #ababab;
                span {
                    display: inline-block;
                    width: 100%;
                    font-weight: 400;
                    height: 12px;
                    line-height: 12px;
                    border-right: 1px solid #808080;
                }
                &:nth-of-type(2) {
                     span {
                        border-right: 0;
                     }
                }
                &:hover, &:focus {
                    color: $font-footer-selected;
                }
                &:first-child {
                    span {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    span {
                        border-right: 0;
                    }
                }
            }
        }
        .site-copyright {
            line-height: 1.8em;
            padding: 5px 21px;
            text-align: center;
            span {
                display: block;
            }
            .copyright {
                display: block;
                @include psd-fz(12px);
            }
        }
    }
    .site-link-area {
        display: none;
        padding-top: 45px;
        text-align: right;
        .select-box {
            @include select-box ($w: 150px, $h: 28px);
        }
        .btn-site-link-move {
            width: 51px;
            height: 28px;
            line-height: 28px;
            background: #eaeaea;
        }
    }
    @include susy-breakpoint(em($tablet)) {
        .site-area {
            padding-top: 45px;
            padding-bottom: 25px;
            .site-info {
                a {
                    display: inline-block;
                    width: auto;
                    text-align: left;
                    span {
                        width: auto;
                        padding: 0 10px;
                        border-right: 1px solid #808080;
                    }
                    &:nth-of-type(2) {
                         span {
                            border-right: 1px solid #808080;
                         }
                    }
                }
            }
            .site-copyright {
                display: block;
                padding: 0;
                text-align: left;
                span {
                    display: inline-block;
                }
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        @include layout(6 0px/113px);
        .site-area {
            @include span(6);
            padding-bottom: 10px;
        }
        // .site-link-area {
        //     display: block;
        //     @include span(6);
        //     text-align: left;
        //     padding-top: 0;
        //     padding-bottom: 45px;
        // }
    }
    @include susy-breakpoint(em($desktop)) {
        @include layout(6 22px/165px);
        .site-area {
            @include span(4);
        }
        .site-link-area {
            display: block;
            @include span(2 last);
        }
    }
}

/* =======================================*/
/* 버튼 스타일
/* =======================================*/
.btn-set-area {
    margin-top: 30px;
    text-align: center;
    @extend %clearfix;
    div[class^="btn-"], button, a {
        @include span(full);
        margin-bottom: gutter();
        vertical-align: top;
    }
    @include susy-breakpoint(em($min-mobile) em($tablet)) {
        div[class^="btn-"], button, a {
            @include gallery(3 of 6);
            margin-bottom: gutter();
            &.full {
                @include span(full);
            }
        }
    }
    @include susy-breakpoint(em($tablet)) {
        div[class^="btn-"], button, a {
            &.full {
                @include span(full);
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        @include layout(8 8px/83px);
        div[class^="btn-"], button, a {
            @include gallery(4 of 8);
            margin-bottom: gutter();
        }
        &.col-1 {
            div[class^="btn-"], button, a {
                @include gallery(8 of 8);
                margin-bottom: gutter();
            }
        }
        &.col-2 {
            div[class^="btn-"], button, a {
                @include gallery(4 of 8);
                margin-bottom: gutter();
            }
        }
        &.col-3 {
            @include layout(3 9px/224px);
            div[class^="btn-"], button, a {
                @include gallery(1 of 3);
                margin-bottom: gutter();
            }
        }
        &.col-4 {
            div[class^="btn-"], button, a {
                @include gallery(2 of 8);
                margin-bottom: gutter();
            }
        }
        &.col-5 {
            @include layout(5 10px/130px);
            div[class^="btn-"], button, a {
                @include gallery(1 of 5);
                margin-bottom: gutter();
            }
        }
    }
    @include susy-breakpoint(em($desktop)) {
        div[class^="btn-"], button, a {
            width: auto;
            float: none;
            margin-right: 6px;
            margin-bottom: 6px;
        }
        *:last-child {
            margin-right: 0;
        }
    }
}
// 테이블 내부 버튼 기본 사이즈
.btn-in-size {
    @include extend(btn-in-size);
}
// 테이블 외부 버튼 기본 사이즈
.btn-out-size {
    @include extend(btn-out-size);
}
// 아이템 버튼 기본 사이즈
.btn-item-size {
    @include extend(btn-item-size);
}
// 더보기 버튼 사이즈
.btn-more-size {
    @include extend(btn-more-size);
}
// 버튼 기본 스타일
.btn-defult {
    @include extend(btn-defult);
}
// 버튼 활성화 스타일
.btn-blue {
    @include extend(btn-blue);
}
// 버튼 더보기 스타일
.btn-gray {
    @include extend(btn-gray);
}

/* =======================================*/
/* 페이징 스타일
/* =======================================*/
.paging {
    text-align: center;
    margin-top: 20px;
    @extend %clearfix;
    .mobile-page {
        display: inline-block;
        margin: 0 18px;
        .now-page {
            width: 65px;
            height: 32px;
            line-height: 30px;
            text-align: right;
            padding-left: 10px;
            color: #305ed6;
            border: 1px solid #d3d4d8;
        }
        .all-page {
            display: inline-block;
            min-width: 65px;
            height: 32px;
            text-align: right;
            &:before {
                content: "/ ";
            }
            
        }
    }
    .pc-page {
            display: none;
        }
    @include susy-breakpoint(em($tablet)) {
        .mobile-page {
            display: none;
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        .pc-page {
            display: inline-block;
        }
    }
    @include susy-breakpoint(em($desktop)) {
        .pc-page {
            display: inline-block;
        }
    }
    button {
        position: relative;
        display: inline-block;
        min-width: 32px;
        height: 32px;
        vertical-align: top;
        border: 1px solid #d3d4d8;
        &:before, &:after {
            position: absolute;
            top: 3px;
        }
        &.first-prev {
            margin-right: 2px;
            margin-left: 0;
            &:before {
                left: 7px;
                @include fa($icon: "\f104", $fz: 22px, $color: #494a4e);
            }
            &:after {
                right: 10px;
                @include fa($icon: "\f104", $fz: 22px, $color: #494a4e);
            }
        }
        &.prev {
            margin-right: 2px;
            &:before {
                left: 10px;
                @include fa($icon: "\f104", $fz: 22px, $color: #494a4e);
            }
        }
        &.last-next {
            margin-left: 2px;
            &:before {
                left: 10px;
                @include fa($icon: "\f105", $fz: 22px, $color: #494a4e);
            }
            &:after {
                right: 7px;
                @include fa($icon: "\f105", $fz: 22px, $color: #494a4e);
            }
        }
        &.next {
            margin-left: 2px;
            &:before {
                right: 10px;
                @include fa($icon: "\f105", $fz: 22px, $color: #494a4e);
            }
        }
        &:hover {
            border: 1px solid #3466a2;
            &:before, &:after {
                color: #3466a2;
            }
        }
        &:focus, &:active, &.selected {
            background: #494a4e;
            border-color: transparent;
            &:before, &:after {
                color: #fff;
            }
        }
    }
    a {
        display: inline-block;
        min-width: 32px;
        height: 32px;
        line-height: 30px;
        padding: 0 10px;
        margin: 0 2px;
        border: 1px solid #d3d4d8;
        &:first-child {
            margin-left: 18px;
        }
        &:last-child {
            margin-right: 18px;
        }
        &:hover {
            color: #3466a2;
            border: 1px solid #3466a2;
        }
        &:focus, &:active, &.selected {
            background: #494a4e;
            border-color: transparent;
            color: #fff;
        }
    }
}

/* =======================================*/
/* 폼 그룹 스타일
/* =======================================*/
.input-type,
.checkbox-type,
.radio-type {
    input {
        /* 기본 버튼 속성 무시 */
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include placehoder(#757575);
    }
    + label {
        &:empty {
            &:before {
                margin-right: 0;
            }
        }
    }
}

/* =======================================*/
/* 인풋 스타일
/* =======================================*/
.input-type {
    display: inline-block;
    @include input-type;
    &.tel {
        @include input-type(71px);
        @extend %clearfix;
        .dialog {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            &:after {
                display: inline-block;
                position: absolute;
                top: 4px;
                right: -10px;
                content: "-";
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    content: "";
                }
            }
        }
    }
    &.e-mail {
        @include input-type(140px);
        .email {
            position: relative;
            display: inline-block;
            &:first-child {
                margin-right: 19px;
                &:after {
                    display: inline-block;
                    position: absolute;
                    top: 4px;
                    right: -18px;
                    content: "@";
                }
            }
        }
    }
    &.date {
        position: relative;
        // @include input-type(157px);
        input {
            padding-right: 0;
        }
        .icon-calender {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 23px;
            height: 22px;
            vertical-align: -5px;
            // background: url($icon-calender) no-repeat;
            pointer-events: none;
        }
    }
    &.full {
        @include input-type(100%); 
    }
}
.input-type-search {
    display: inline-block;
    position: relative;
    [class*="btn-"] {
        position: absolute;
        top: 0;
        right: 0;
    }
    @include input-type ($p: 0 45px 0 10px, $bd: 2px solid #3466a2, $bd-focus: 2px solid #3466a2, $bg: #fff);
    &.full {
        @include input-type ($w: 100%, $p: 0 45px 0 10px, $bd: 2px solid #3466a2, $bd-focus: 2px solid #3466a2, $bg: #fff);
    }
}

/* =======================================*/
/* 셀렉트박스 스타일
/* =======================================*/
.select-box {
    display: inline-block;
    @include select-box;
    &.e-mail {
        @include select-box(140px);
    }
    &.full {
        @include select-box(100%);
    }
}

/* =======================================*/
/* 텍스트박스 스타일
/* =======================================*/
.textarea {
    display:block;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #dbdbdb;
    background: #fff;
    overflow-y: scroll;
    &:focus {
        border: 1px solid #002847;
    }
}

/* =======================================*/
/* 아코디언 스타일
/* =======================================*/
.aco-base, .aco-open {
    > li {
        &.open {
            /* 아코디언 메뉴 패널 펼침 */
            a[role="button"] {
                .fa {
                    transform: rotate(180deg);
                }
            }
        }
    }
    /* 아코디언 메뉴 */
    [class*="link"] {
        display: block;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    /* 아코디언 패널 */
   [class*="sub"] {
        display: none;
    }
}

/* =======================================*/
/* 탭 스타일
/* =======================================*/
.tab-area {
    .tab-menu {
        height: 40px;
        border-bottom: 1px solid $bd-tab-menu-ber;
        margin-bottom: 20px;
        @extend %clearfix;
        a[role="button"] {
            float: left;
            display: inline-block;
            height: 40px;
            line-height: 38px;
            padding: 0 40px;
            color: $font-tab-menu-default;
            border: 1px solid $bd-tab-menu-ber;
            &.active {
                color: $font-tab-menu-active;
                background: $bg-tab-menu-active;
            }
        }
    }
}

/* =======================================*/
/* 리스트 스타일
/* =======================================*/
.ul-list-type {
    li {
        display: block;
        line-height: 35px;
        margin-bottom: 10px;
        @extend %clearfix;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.dl-list-type {
    @extend %clearfix;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    dt {
        position: relative;
        padding-left: 13px;
        font-weight: 500;
        color: #333;
        &:before {
            position: absolute;
            top: 16px;
            left: 0;
            display: block;
            width: 3px;
            height: 3px;
            background: #454c5f;
            content: "";
        }
    }
    dt, dd {
        display: block;
        line-height: 35px;
        @extend %clearfix;
    }
    @include susy-breakpoint(em($desktop)) {
        dt, dd {
            display: inline-block;
        }
    }
}