/* =======================================*/
/* Container Layout Style
/* =======================================*/
.wrap {
    @include layout(6 0px/53px);
    @include container(100%);
    min-width: $min-mobile;
    padding: 0 21px;
    // Mobile만 적용
    @include susy-breakpoint(em($max-mobile)) {
        @include layout(6 0px/96px);
    }
    // Tablet 이상
    @include susy-breakpoint(em($tablet)) {
        @include layout(6 0px/113px);
    }
    // Tablet만 적용
    @include susy-breakpoint(em($tablet) em($desktop)) {
        @include layout(6 0px/113px);
    }
    // Desktop 이상
    @include susy-breakpoint(em($desktop)) {
        @include layout(6 22px/165px);
        @include container($desktop);
    }
}

/* =======================================*/
/* Skip Navigation 설정
/* =======================================*/
.skip-link {
    position: absolute;
    top: -35px;
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #333;
    &:hover, &:focus, &:active {
        top: 0;
        color: #efefef;
    }
}

/* =======================================*/
/* Header : Top menu & GNB
/* =======================================*/
.header {
    border-bottom: 1px solid #aaa;
    @extend %clearfix;
}
.top-menu {
    display: none;
    min-width: $min-mobile;
    height: 35px;
    line-height: 35px;
    background: $bg-top-menu;
    .wrap {
        .menu {
            text-align: right;
            a {
                @include psd-fz(13px);
                font-weight: 100;
                color: $font-top-menu;
                &:after {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    background: $ber-top-menu;
                    content: "";
                    margin: 0 6px 0 10px;
                }
                &:last-child {
                    &:after {
                        background: transparent;
                    }
                }
            }
        }
        .link {
            display: none;
            a {
                display: block;
                height: 35px;
                color: $font-my-library;
                text-align: center;
                background: $btn-my-library;
            }
        }
    }
    @include susy-breakpoint(em($tablet)) {
        display: block;
        .wrap {
            .menu {
                display: inline-block;
                width: -webkit-calc( 100% - 110px );
                width: -moz-calc( 100% - 110px );
                width: calc( 100% - 110px );
            }
            .link {
                display: inline-block;
                width: 110px;
                @include last;
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        .wrap {
            margin: 0;
            padding: 0;
        }
    }
    @include susy-breakpoint(em($desktop)) {
        @include layout(10 0/110);
        padding: 0 21px;
        .wrap {
            @include container($desktop);
            .menu {
                @include span(9);
            }
            .link {
                display: inline-block;
                @include span(1);
                @include last;
            }
        }
    }
}
.top-area {
    min-width: $min-mobile;
    height: 80px;
    padding: 0;
    @extend %clearfix;
    .wrap {
        position: relative;
        margin: 0;
        .logo {
            position: absolute;
            left: 50%;
            margin-left: -95px;
            a {
                display: block;
                width: 190px;
                height: 80px;
                text-indent: -9999px;
                background: url($bg-logo) 50% center no-repeat;
            }
        }
        .gnb {
            display: inline-block;
            .btn-gnb-menu {
                display: block;
            }
            #gnb-menu {
                display: none;
            }
        }
        .btn-agency {
            display: none;
            width: 110px;
            height: 80px;
            background: #f2f2f2 url($icon-notebook) center 14px no-repeat;
            a {
                display: block;
                @include psd-fz(12px);
                color: #1b1b1b;
                letter-spacing: -0.04em;
                text-align: center;
                width: 100%;
                height: 80px;
                padding-top: 50px;
            }
        }
    }
}
.top-area {
    @include susy-breakpoint(em($tablet)) {
        .wrap {
            @include layout(6 0/113);
            .logo {
                position: static;
                left: auto;
                margin-left: auto;
            }
            .btn-agency {
                display: block;
                @include  last;
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        .wrap {
            margin: 0;
            padding: 0;
            .logo {
                position: absolute;
                left: 50%;
                margin-left: -95px;
            }
        }
    }
    @include susy-breakpoint(em($desktop)) {
        padding: 0 21px;
        .wrap {
            @include layout(10 0/110);
            @include container($desktop);
            .logo {
                @include span(2);
                background-position: left center;
            }
            .gnb {
                @include span(7);
                .btn-gnb-menu {
                    display: none;
                }
                #gnb-menu {
                    display: block;
                    text-align: right;
                    visibility: visible;
                }
            }
            .btn-agency {
                @include span(1 last);
            }
        }
    }
}

/* =======================================*/
/* Container : 컨테이너 영역
/* =======================================*/
#container {
    display: block;
    min-height: 670px;
    @extend %clearfix;
    /* Content 영역 */
    &.sub-content {
        .content-area {
            margin-bottom: 30px;
        }
        @include susy-breakpoint(em($tablet)) {
            .content-area {
                margin-top: 0;
            }
        }
        @include susy-breakpoint(em($tablet) em($desktop)) {
            .content-area {
                margin-bottom: 60px;
            }
        }
        @include susy-breakpoint(em($desktop)) {
            margin-top: 42px;
            .content-area {
                margin-bottom: 120px;
            }
        }
    }
}

/* =======================================*/
/* Container : 서브 헤드라인 영역
/* =======================================*/
.sub-headline {
    height: 90px;
    background: #e1f1ff url($bg-sub-top-title) no-repeat;
    background-position: right -20px center;
    .wrap {
        @include h-center ($position: relative, $h-percent: 50%);
        h2 {
            @include psd-fz(20px);
        }
        p {
            display: none;
        }
    }
    @include susy-breakpoint(em($desktop)) {
        height: 110px;
        text-align: center;
        background-position: right 34px center;
        .wrap {
            h2 {
                @include psd-fz(26px);
            }
            p {
                display: block;
            }
        }
    }
}

/* =======================================*/
/* 페이징 스타일
/* =======================================*/
.paging {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    @extend %clearfix;
    @include w-center ($position: relative, $w-percent: 50%);
    button {
        float: left;
        position: relative;
        display: inline-block;
        width: 36px;
        height: 36px;
        vertical-align: top;
        padding: 0 4px;
        border-top: 1px solid #c2c2c2;
        border-left: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        &:before, &:after {
            position: absolute;
            top: 12px;
        }
        &.first-prev {
            margin-left: 0;
            &:before {
                left: 9px;
                @include fa($icon: "\f053", $fz: 12px, $color: #879dad);
            }
            &:after {
                right: 11px;
                @include fa($icon: "\f053", $fz: 12px, $color: #879dad);
            }
        }
        &.prev {
            &:before {
                left: 12px;
                @include fa($icon: "\f053", $fz: 12px, $color: #879dad);
            }
        }
        &.last-next {
            border-right: 1px solid #c2c2c2;
            &:before {
                left: 10px;
                @include fa($icon: "\f054", $fz: 12px, $color: #879dad);
            }
            &:after {
                right: 9px;
                @include fa($icon: "\f054", $fz: 12px, $color: #879dad);
            }
        }
        &.next {
            &:before {
                right: 12px;
                @include fa($icon: "\f054", $fz: 12px, $color: #879dad);
            }
        }
        &:focus, &:active, &.selected {
            border-bottom: 3px solid #112a3d;
            &:before, &:after {
                color: #003761;
            }
        }
    }
    a {
        float: left;
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 34px;
        padding: 0 4px;
        border-top: 1px solid #c2c2c2;
        border-left: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        &:focus, &:active, &.selected {
            font-weight: bold;
            color: #003761;
            border-bottom: 3px solid #112a3d;
        }
    }
}

/* =======================================*/
/* Footer : 관련 사이트
/* =======================================*/
.footer-link-banner {
    background: #eaeaea;
    .wrap {
        .link-banner-area {
            position: relative;
            height: 98px;
            padding: 24px 37px;
            .owl-carousel {
                @extend %clearfix;
                li {
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    background: #fff;
                    a {
                        display: block;
                        width: 100%;
                        height: 53px;
                        line-height: 48px;
                        text-align: center;
                        img {
                            width: auto;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span {
                            display: none;
                        }
                    }
                }
                .owl-nav {
                    .owl-prev {
                        position: absolute;
                        top: 50%;
                        left: -37px;
                        width: 23px;
                        height: 23px;
                        line-height: 23px;
                        text-align: center;
                        border-radius: 50%;
                        margin-top: -12px;
                        background: #bdbbbb;
                        &:before {
                            @include fa($icon: "\f104", $fz: 18px, $color: #1c1c1c);
                        }
                    }
                    .owl-next {
                        position: absolute;
                        top: 50%;
                        right: -37px;
                        width: 23px;
                        height: 23px;
                        line-height: 23px;
                        text-align: center;
                        border-radius: 50%;
                        margin-top: -12px;
                        background: #bdbbbb;
                        &:before {
                            @include fa($icon: "\f105", $fz: 18px, $color: #1c1c1c);
                        }
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* Footer : 사이트 정보
/* =======================================*/
.footer {
    width: 100%;
    min-height: 170px;
    @include psd-fz(12px);
    color: $font-footer-default;
    background: $bg-footer;
    .site-area {
        @include span(full);
        padding-top: 25px;
        padding-bottom: 25px;
        .site-info {
            a {
                display: inline-block;
                text-align: center;
                width: 49.5%;
                height: 30px;
                line-height: 30px;
                color: #ababab;
                span {
                    display: inline-block;
                    width: 100%;
                    font-weight: 400;
                    height: 12px;
                    line-height: 12px;
                    border-right: 1px solid #808080;
                }
                &:nth-of-type(2) {
                     span {
                        border-right: 0;
                     }
                }
                &:hover, &:focus {
                    color: $font-footer-selected;
                }
                &:first-child {
                    span {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    span {
                        border-right: 0;
                    }
                }
            }
        }
        .site-copyright {
            line-height: 1.8em;
            padding: 5px 21px;
            text-align: center;
            span {
                display: block;
            }
            .copyright {
                @include psd-fz(12px);
            }
        }
    }
    .site-link-area {
        display: none;
        padding-top: 45px;
        text-align: right;
        .btn-site-link-move {
            width: 51px;
            height: 28px;
            line-height: 28px;
            background: #eaeaea;
        }
    }
    @include susy-breakpoint(em($tablet)) {
        .site-area {
            padding-top: 45px;
            padding-bottom: 25px;
            .site-info {
                a {
                    display: inline-block;
                    width: auto;
                    text-align: left;
                    span {
                        width: auto;
                        padding: 0 10px;
                        border-right: 1px solid #808080;
                    }
                    &:nth-of-type(2) {
                         span {
                            border-right: 1px solid #808080;
                         }
                    }
                }
            }
            .site-copyright {
                display: block;
                padding: 0;
                text-align: left;
                span {
                    display: inline-block;
                }
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        @include layout(6 0px/113px);
        .site-area {
            @include span(6);
            padding-bottom: 10px;
        }
        .site-link-area {
            display: block;
            @include span(6);
            text-align: left;
            padding-top: 0;
            padding-bottom: 45px;
        }
    }
    @include susy-breakpoint(em($desktop)) {
        @include layout(6 22px/165px);
        .site-area {
            @include span(4);
        }
        .site-link-area {
            display: block;
            @include span(2 last);
        }
    }
}

/* =======================================*/
/* 폼 그룹 스타일
/* =======================================*/
.input-type,
.checkbox-type,
.radio-type {
    input {
        /* 기본 버튼 속성 무시 */
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include placehoder(#757575);
    }
    + label {
        &:empty {
            &:before {
                margin-right: 0;
            }
        }
    }
}

/* =======================================*/
/* 인풋 스타일
/* =======================================*/
.input-type {
    display: inline-block;
    @include input-type;
    &.tel {
        @include input-type(71px);
        @extend %clearfix;
        .dialog {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            &:after {
                display: inline-block;
                position: absolute;
                top: 4px;
                right: -10px;
                content: "-";
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    content: "";
                }
            }
        }
    }
    &.e-mail {
        @include input-type(140px);
        .email {
            position: relative;
            display: inline-block;
            &:first-child {
                margin-right: 19px;
                &:after {
                    display: inline-block;
                    position: absolute;
                    top: 4px;
                    right: -18px;
                    content: "@";
                }
            }
        }
    }
    &.date {
        position: relative;
        // @include input-type(157px);
        input {
            padding-right: 0;
        }
        .icon-calender {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 23px;
            height: 22px;
            vertical-align: -5px;
            // background: url($icon-calender) no-repeat;
            pointer-events: none;
        }
    }
    &.full {
        @include input-type(100%);
    }
}

/* =======================================*/
/* 셀렉트박스 스타일
/* =======================================*/
.select-box {
    display: inline-block;
    @include select-box;
    &.e-mail {
        @include select-box(140px);
    }
    &.full {
        @include select-box(100%);
    }
}

/* =======================================*/
/* 텍스트박스 스타일
/* =======================================*/
.textarea {
    display:block;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #dbdbdb;
    background: #fff;
    overflow-y: scroll;
    &:focus {
        border: 1px solid #002847;
    }
}
/* =======================================*/
/* 아코디언 스타일
/* =======================================*/
.aco-base, .aco-open {
    > li {
        &.open {
            /* 아코디언 메뉴 패널 펼침 */
            a[role="button"] {
                .fa {
                    transform: rotate(180deg);
                }
            }
        }
    }
    /* 아코디언 메뉴 */
    [class*="link"] {
        display: block;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    /* 아코디언 패널 */
   [class*="sub"] {
        display: none;
    }
}

/* =======================================*/
/* 갤러리 스타일
/* =======================================*/
.gallery {
    /* 컬럼의 갯수 col1~col6 까지 class 생성 */
    /* @include list-type(컬럼 수, 마진 우측 px) */
    @include list-type(6, 10px);
}

/* =======================================*/
/* 탭 스타일
/* =======================================*/
.tablist {
    /* 탭의 갯수 t1~t8 까지 class 생성 */
    /* @include tabs(컬럼 수) */
    @include tabs(8);
    width: 932px;
    margin-left: -1px;
    [role="tab"] {
        &:first-child {
            span {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &:last-child {
            span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        span {
            display: block;
            text-align: center;
            width: 100%;
            height: 40px;
            line-height: 36px;
            background: #f5dfd7;
            border: 2px solid #f1c7b7;
        }
        &[aria-selected='true'] {
            span {
                position: relative;
                font-weight: bold;
                color: #fff;
                line-height: 35px;
                background: #d14411;
                border: 0;
                box-shadow: 1px 1px 4px 3px rgba(#d14411, 0.3) inset;
                &:before {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -5px;
                    @include arrow($dir: top, $size: 6px, $color: #fff);
                    content: "";
                }
            }
        }
        &:hover, &:focus {
            span {
                position: relative;
                font-weight: bold;
                color: #fff;
                line-height: 40px;
                background: #d14411;
                border: 0;
                box-shadow: 1px 1px 4px 3px rgba(#d14411, 0.3) inset;
                &:before {
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    @include arrow($dir: bottom, $size: 6px, $color: #d14411);
                    content: "";
                }
            }
        }
    }
}
.panel-group {
    margin-top: 12px;
    width: 100%;
    min-height: 480px;
    [role="tabpanel"] {
        &[aria-hidden='true'] {
            display: none;
        }
    }
}