/* =======================================*/
/* Content : 컨텐츠 영역
/* =======================================*/
.content-area {
    .headline {
        margin-bottom: 30px;
        .sub-title {
            color: #333;
            padding-bottom: 10px;
            border-bottom: 2px solid #666;
            clear: both;
        }
        .site-location {
            height: 35px;
            line-height: 35px;
            a {
                float: left;
                @include psd-fz(13px);
                color: #333;
                img {
                    vertical-align: -2px;
                }
                &:after {
                    display: inline-block;
                    font-family: 'FontAwesome';
                    @include psd-fz(16px);
                    content: "\f105";
                    padding: 0 4px;
                    vertical-align: -1px;
                }
                &:first-child {
                    &:after {
                        content:"";
                    }
                }
                &:last-child {
                    font-weight: 500;
                    &:after {
                        content:"";
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* 자료검색 > 소장자료 검색 > 초기화면
/* (html/resources-search.html)
/* =======================================*/
.keyword-search-area {
    background: #f1f1f1;
    padding: 15px;
    .ul-list-type {
        @include layout(5 10px/58px);
        li {
            .search-1st {
                @include span(2);
            }
            .search-2nd {
                @include span(3 firest);
            }
            .search-3rd {
                @include span(2 last);
            }
        }
    }
    .dl-list-type {
        margin-top: 15px;
        dt {
            line-height: 2;
            &:before {
                top: 12px;
            }
        }
        dd {
            @include layout(2 26px/152px);
            line-height: 2;
            .select-box {
                @include span(1);
            }
            .input-type {
                position: relative;
                width: 100%;
                &:before {
                    position: absolute;
                    top: 3px;
                    left: 50%;
                    margin-left: -5px;
                    content: "~";
                }
                input {
                    @include span(1);
                    &:last-child {
                        @include last();
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em($tablet) em($desktop)) {
        @include layout(7 10px/102px);
        .ul-list-type {
            li {
                .search-1st {
                    @include span(1);
                }
                .search-2nd {
                    @include span(5);
                }
                .search-3rd {
                    @include span(1 last);
                }
            }
        }
        .dl-list-type {
            margin-top: 15px;
            dt {
                line-height: 2;
                &:before {
                    top: 12px;
                }
            }
            dd {
                @include layout(2 20px/335px);
                .select-box {
                    @include span(1);
                }
                .input-type {
                    input {
                        @include span(1);
                        &:last-child {
                            @include last();
                        }
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em($desktop)) {
        padding: 15px 31px;
        .ul-list-type {
            @include layout(7 10px/102px);
            li {
                .search-1st {
                    @include span(1);
                }
                .search-2nd {
                    @include span(5);
                }
                .search-3rd {
                    @include span(1 last);
                }
            }
            .dl-list-type {
                margin: 0;
                margin-top: 10px;
            }
        }
        .dl-list-type {
            @include layout(7 10px/102px);
            max-width: 836px;
            dt {
                @include span(1);
            }
            dd {
                @include span(6 last);
                .select-box {
                    @include select-box($w: 130px);
                }
                .input-type {
                    @include input-type($w: 130px);
                    &:before {
                        left: 144px;
                    }
                    input {
                        margin-right: 26px;
                        &:last-child {
                            float: none;
                        }
                    }
                }
            }
        }
    }
}