/* =======================================*/
/* Content : 공통 요소 스타일
/* =======================================*/
// 검색 영역 타이틀
.sub-list-title {
    padding: 25px 0;
    .search-word {
        span {
            color: #ff8134;
        }
    }
}
// Select & Button type 검색 영역
.search-select-box-area {
    background: #f1f1f1;
    padding: 0 15px;
    line-height: 41px;
    @extend %clearfix;
    .icon-img-type {
        color: #09c;
        padding-left: 23px;
        background: url($icon-img-type) left center no-repeat;
    }
    .select-box {
        width: 100px;
        margin-left: 6px;
    }
}

/* =======================================*/
/* Content : 컨텐츠 영역
/* =======================================*/
.content-area {
    .headline {
        margin-bottom: 30px;
        .sub-title {
            @include psd-fz(30px);
            color: #333;
            padding-bottom: 10px;
            border-bottom: 2px solid #666;
            clear: both;
        }
        .site-location {
            height: 35px;
            line-height: 35px;
            a {
                float: left;
                @include psd-fz(13px);
                color: #333;
                img {
                    vertical-align: -2px;
                }
                &:after {
                    display: inline-block;
                    font-family: 'FontAwesome';
                    @include psd-fz(16px);
                    content: "\f105";
                    padding: 0 4px;
                    vertical-align: -1px;
                }
                &:first-child {
                    &:after {
                        content:"";
                    }
                }
                &:last-child {
                    font-weight: 500;
                    &:after {
                        content:"";
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* 자료검색 > 소장자료 검색 > 초기화면
/* (html/resources-search.html)
/* =======================================*/
.sub-search-area {
    background: #f1f1f1;
    padding: 20px 10px;
    @include susy-breakpoint(em($tablet) em($desktop)) {
        padding: 20px 15px;
    }
    @include susy-breakpoint(em($desktop)) {
        padding: 15px 31px;
    }
}
.keyword-search-area {
    .sub-search-area {
        .ul-list-type {
            @include layout(5 10px/58px);
            li {
                .search-1st {
                    @include span(2);
                    margin-bottom: 5px;
                }
                .search-2nd {
                    @include span(3 firest);
                }
                .search-3rd {
                    @include span(2 last);
                }
                &:last-child {
                    margin-bottom: 10px;
                }
            }
        }
        .dl-list-type {
            dd {
                @include layout(2 26px/152px);
                line-height: 2;
                .select-box {
                    @include span(1);
                }
                .checkbox-type {
                    @include gallery(2 of 4);
                }
                .input-type {
                    position: relative;
                    width: 100%;
                    &:before {
                        position: absolute;
                        top: 3px;
                        left: 50%;
                        margin-left: -5px;
                        content: "~";
                    }
                    input {
                        @include span(1);
                        &:last-child {
                            @include last();
                        }
                    }
                }
            }
        }
        @include susy-breakpoint(em($tablet) em($desktop)) {
            @include layout(7 10px/102px);
            .ul-list-type {
                li {
                    .search-1st {
                        @include span(1);
                        margin-bottom: 0;
                    }
                    .search-2nd {
                        @include span(5);
                    }
                    .search-3rd {
                        @include span(1 last);
                    }
                }
            }
            .dl-list-type {
                dd {
                    @include layout(4 26px/153px);
                    .checkbox-type {
                        @include gallery(1 of 4);
                    }
                    .select-box {
                        @include span(2);
                    }
                    .input-type {
                        input {
                            @include span(2);
                            &:last-child {
                                @include last;
                            }
                        }
                    }
                }
            }
        }
        @include susy-breakpoint(em($desktop)) {
            .ul-list-type {
                @include layout(7 10px/102px);
                li {
                    .search-1st {
                        @include span(1);
                        margin-bottom: 0;
                    }
                    .search-2nd {
                        @include span(5);
                    }
                    .search-3rd {
                        @include span(1 last);
                    }
                }
            }
            .dl-list-type {
                @include layout(7 10px/102px);
                max-width: 836px;
                dt {
                    @include span(1);
                }
                dd {
                    @include span(6 last);
                    .checkbox-type {
                        width: auto;
                        float: none;
                        clear: none !important;
                        margin-right: auto !important;
                        margin-left: auto !important;
                    }
                    .select-box {
                        @include select-box($w: 130px);
                    }
                    .input-type {
                        @include input-type($w: 130px);
                        &:before {
                            left: 144px;
                        }
                        input {
                            margin-right: 26px;
                            &:last-child {
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* 자료검색 > 소장자료 검색 > 상세
/* (html/resources-search-view.html)
/* =======================================*/
.keyword-search-area-view{
    .ul-list-type {
        @include layout(5 10px/58px);
        li {
            &:first-child {
                margin-top: -5px;
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: 0;
                div {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .fr-align {
                display: block;
                float: inherit;
            }
        }
    }
    .btn-more-size {
        .icon.after {
            padding-left: 20px;
            vertical-align: inherit;
        }
    }
    @include susy-breakpoint(em($tablet)) {
        .ul-list-type {
            li {
                &:first-child {
                    .fr-align {
                        float: right;
                        margin-right: -8px;
                    }
                }
                &:last-child {
                    @include layout(7 10px/102px);
                    .select-box {
                        @include span(1);
                    }
                    .input-type-search {
                        @include span(6 last);
                        &.full {
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}
.search-select-content {
    padding: 20px 30px;
    border: 1px solid #dddddd;
    margin-top: 10px;
    ul {
        li {
            display: inline-block;
        }
    }
}