/* =======================================*/
/* LNB 영역
/* =======================================*/
.lnb {
    float: left;
    display: none;
    width: target-percent(230, 1100);
    margin-right: target-percent(34, 1100);
    margin-bottom: 30px;
    h3 {
        display: block;
        height: 110px;
        line-height: 110px;
        color: #fff;
        text-align: center;
        letter-spacing: -0.03em;
        background: url($bg-lnb-title) no-repeat;
    }
    + .content-area {
        width: 100%;
    }
    @include susy-breakpoint(em($desktop)) {
        display: block;
        + .content-area {
            float: right;
            width: target-percent(836, 1100);
        }
    }
}
.accordion-lnb {
    border-bottom: 1px solid $bd-or-icon-color;
    margin-top: 5px;
    > li {
        border-bottom: 1px solid $bd-or-icon-color;
        [class*="link"] {
            position: relative;
            color: $font-lnb-title;
            @include psd-fz(16px);
            padding: 9px 20px;
            .icon-toggle {
                position: absolute;
                display: block;
                top: 50%;
                right: 20px;
                width: 13px;
                height: 13px;
                margin-top: -7px;
                &:before {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 13px;
                    height: 3px;
                    background: #b1b1b3;
                    content: "";
                }
                &:after {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    width: 3px;
                    height: 13px;
                    background: #b1b1b3;
                    content: "";
                    transform: rotate(0deg);
                    transition: transform 0.25s ease;
                }
            }
        }
        &:last-child, [class*="link"] {
            border-bottom: 0;
        }
        &.open {
            background: $bg-lnb-title-open;
            [class*="link"] {
                color: $font-lnb-title-active;
                .icon-toggle {
                    &:after {
                        background: $font-lnb-title-active;
                        transform: rotate(90deg);
                        transition: transform 0.25s ease;
                    }
                }
            }
        }
    }
    [class*="sub"] {
        background: #fff;
        padding: 10px 0;
        > li {
            padding: 2px 20px;
            > a {
                position: relative;
                display: block;
                padding-left: 22px;
                color: $font-lnb-sub-menu;
                &:before {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    display: block;
                    width: 10px;
                    height: 2px;
                    background: $bd-or-icon-color;
                    content: "";
                }
                &:hover, &:focus, &.active {
                    font-weight: 500;
                    color: $font-lnb-sub-menu-active;
                    &:before {
                        background: $font-lnb-sub-menu-active;
                    }
                }
            }
        }
    }
}