/* =======================================*/
/* LNB 영역
/* =======================================*/
.lnb {
    float: left;
    display: none;
    width: target-percent(230, 1100);
    margin-right: target-percent(34, 1100);
    margin-bottom: 30px;
    h3 {
        display: block;
        height: 110px;
        line-height: 110px;
        color: #fff;
        text-align: center;
        letter-spacing: -0.03em;
        background: url($bg-lnb-title) no-repeat;
    }
    @include susy-breakpoint(em($desktop)) {
        display: block;
        + .content-area {
            width: target-percent(836, 1100);
        }
    }
}
.accordion-lnb {
    border-bottom: 1px solid #dcdcdc;
    margin-top: 5px;
    > li {
        border-bottom: 1px solid #dcdcdc;
        color: #333;
        [class*="link"] {
            position: relative;
            color: #333;
            font-size: 16px;
            padding: 9px 20px;
            border-bottom: 1px solid #CCC;
            .icon-toggle {
                position: absolute;
                display: block;
                top: 50%;
                right: 20px;
                width: 13px;
                height: 13px;
                margin-top: -7px;
                &:before {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 13px;
                    height: 3px;
                    background: #b1b1b3;
                    content: "";
                }
                &:after {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    width: 3px;
                    height: 13px;
                    background: #b1b1b3;
                    content: "";
                    transform: rotate(0deg);
                    transition: transform 0.25s ease;
                }
            }
        }
        &:last-child, [class*="link"] {
            border-bottom: 0;
        }
        &.open {
            background: #00baf2;
            [class*="link"] {
                color: #fff;
                .icon-toggle {
                    &:after {
                        background: #fff;
                        transform: rotate(90deg);
                        transition: transform 0.25s ease;
                    }
                }
            }
        }
    }
    [class*="sub"] {
        background: #fff;
        padding: 10px 0;
        > li {
            font-weight: normal;
            padding: 2px 20px;
            a {
                position: relative;
                display: block;
                padding-left: 22px;
                &:before {
                    position: absolute;
                    left: 0;
                }
                &:hover, &:focus {
                    color: #003761;
                    text-decoration: underline;
                }
                &.active {
                    font-weight: bold;
                    color: #003761;
                    padding-left: 12px;
                    &:before {
                        @include fa($icon: "\f054", $fz: 10px, $color: #003761);
                        top: 5px;
                        background: transparent;
                    }
                }
            }
            > a {
                &:before {
                    top: 10px;
                    display: block;
                    width: 10px;
                    height: 2px;
                    background: #dcdcdc;
                    content: "";
                }
                &:hover, &:focus {
                    &:before {
                        background: #003761;
                    }
                }
            }
            > ul {
                li {
                    padding-top: 9px;
                    padding-left: 10px;
                    a {
                        &:before {
                            top: -3px;
                            background: transparent;
                            color: #757575;
                            content: "-";
                        }
                    }
                }
            }
        }
    }
}