/* =======================================*/
/* Popup Style
/* =======================================*/

/* 팝업 컨테이너 */
.popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    /* 팝업 딤 (Dim) */
    .popup-dim {
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
}

/* 팝업 영역 */
.popup {
    width: 100%;
    min-width: 360px;
    height: 100vh;
    transform: inherit;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    outline: 0; 
    z-index: 10000;
    &.is-center {
        @include wh-center($position: absolute);
    }
}
/* 팝업 헤드라인 */
.popup {
    .popup-headline {
        height: 60px;
        padding: 0 20px;
        background: #005083;
        @extend %clearfix;
        h4 {
            float: left;
            font-size: 18px;
            color: #fff;
            letter-spacing: -0.04em;
            line-height: 60px;
        }
        .popup-close {
            position: relative;
            float: right;
            width: 21px;
            height: 21px;
            margin-top: 18px;
            text-indent: -9999px;
            &:before {
                position: absolute;
                top: 10px;
                left: -4px;
                display: block;
                width: 120%;
                height: 2px;
                background: #fff;
                transform: rotate(45deg);
                content: "";
            }
            &:after {
                position: absolute;
                top: 10px;
                left: -4px;
                display: block;
                width: 120%;
                height: 2px;
                background: #fff;
                transform: rotate(-45deg);
                content: "";
            }
        }
    }
}

/* 팝업 콘텐츠 */
.popup {
    .popup-content {
        max-height: calc(100% - 50px);
        padding: 20px;
        overflow: auto;
        @extend %clearfix;
    }
    @include susy-breakpoint(em(860px)) {
        width: 540px;
        min-height: 480px;
        max-height: 570px;
        .popup-content {
            padding: 20px 30px 0 30px;
            max-height: calc(720px - 60px);
        }
    }
}