/* =======================================*/
/* 테이블 스타일
/* =======================================*/
// 테이블 컬럼 좌측 정렬
table {
    .align-left {
        @for $i from 1 through 10 {
            &.col-#{$i} {
                tr {
                    td:nth-of-type(#{$i}) {
                        text-align: left;
                    }
                }
            }
        }
    }
    .col-hidden {
        display: none;
    }
    @include susy-breakpoint(em(860px)) {
        colgroup {
            &.col-hidden {
                display: table-column-group;
            }
        }
        col {
            &.col-hidden {
                display: table-column;
            }
        }
        tr {
            &.col-hidden {
                display: table-row;
            }
        }
        td, th {
            &.col-hidden {
                display: table-cell;
            }
        }
    }
}

// 리스트 내부 유형 테이블
[class*="table-view-type"] {
    width: 100%;
    @extend %clearfix;
    th, td {
        text-align: center;
        padding: 4px 10px;
        border: 1px solid #ccc;
        
    }
    th {
        font-weight: 500;
        color: #333;
        background: #f1f5f7;
        border-bottom: 0;
    }
    td {
        &.readable {
            color: #e57c00;
        }
        img {
            margin: 6px 0;
        }
    }
    &[class*="list-type"] {
        colgroup, col, thead {
            @extend %a11y-invisible;
        }
        thead, tbody {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        th, td {
            display: block;
            width: 100%;
            border-top: 0;
            border-bottom: 1px solid #ccc;
            border-left: 0;
            border-right: 0;
            &:last-child {
                border-bottom: 0;
            }
        }
        td {
            position: relative;
            min-height: 28px;
            padding: 4px 10px 4px 53%;
            &:before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                font-weight: 500;
                color: #333;
                padding: 4px 10px;
                background: #f1f5f7;
                content: "";
            }
            &:last-child {
                &:before {
                    border-bottom: 0;
                }
            }
        }
    }
    @include susy-breakpoint(em($max-mobile) em(860px)) {
        &[class*="list-type"] {
            tbody {
                td {
                    padding: 4px 10px 4px 32%;
                    &:before {
                        width: 30%;
                        content: "";
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em(860px)) {
        tbody {
            border-bottom: 1px solid #ccc;
        }
        th, td {
            border: 1px solid #ccc;
            border-bottom: 0;
        }
        td {
            &:before {
                content: "";
            }
        }
        &[class*="list-type"] {
            width: 100%;
            colgroup, col, thead {
                @include a11y-visible(false);
            }
            thead {
                border-bottom: 0;
            }
            tbody {
                border-bottom: 1px solid #ccc;
            }
            th, td {
                display: table-cell;
                height: auto;
                text-align: center;
                border: 1px solid #ccc;
                border-bottom: 0;
            }
            td {
                padding: 4px 10px;
                &:before {
                    display: none;
                }
            }
        }
    }
}

// 게시판 유형 테이블
[class*="table-board-type"] {
    width: 100%;
    border-top: 2px solid #999;
    tr {
        th {
            color: #333;
            background: #f7f7f7;
        }
        th, td {
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0 10px;
        }
    }
    &.from {
        tr {
            th, td {
                height: auto;
                line-height: 1.5;
                padding: 10px;
            }
        }
    }
    thead {
        th {
            border-bottom: 1px solid #dedede;
        }
    }
    tbody {
        th, td {
            border-bottom: 1px solid #dedfe2;
        }
        td {
            @include psd-fz(15px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .title {
                color: #1397c1;
            }
            img {
                vertical-align: -2px;
            }
            pre {
                padding: 20px 10px;
                font-weight: 300;
            }
        }
    }
}
.table-board-prev-next-area {
    border-top: 1px solid #dedede;
    margin-top: 30px;
    dl {
        display: table;
        width: 100%;
        border-bottom: 1px solid #dedede;
        dt, dd {
            display: table-cell;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
        }
        dt {
            width: 100px;
            color: #333;
            text-align: center;
            background: #f7f7f7;
            .fa {
                margin-left: 10px;
                &.fa-sort-up {
                    vertical-align: -3px;
                }
                &.fa-sort-down {
                    vertical-align: 2px;
                }
            }
        }
    }
}
.table-textarea-area {
    border-bottom: 1px solid #dedfe2;
    padding-bottom: 20px;
    margin: 20px 10px;
    .textarea {
        height: 150px;
    }
}