/* =======================================*/
/* 테이블 스타일
/* =======================================*/
table {
    // 모바일, PC 영역 숨김 / 표시 설정
    &.mobile-btn-hidden {
        .mobile {
            display: none;
        }
        .tablet, .desktap {
            display: block;
        }
        @include susy-breakpoint(em($max-mobile)) {
            .mobile {
                display: block;
            }
            .tablet, .desktap {
                display: none;
            }
        }
    }
    &.tablet-btn-hidden {
        .mobile {
            display: block;
        }
        .tablet, .desktap {
            display: none;
        }
        @include susy-breakpoint(em($tablet)) {
            .mobile {
                display: none;
            }
            .tablet, .desktap {
                display: block;
            }
        }
    }
    &.desktap-btn-hidden {
        .mobile {
            display: block;
        }
        .tablet, .desktap {
            display: none;
        }
        @include susy-breakpoint(em(860px)) {
            .mobile {
                display: none;
            }
            .tablet, .desktap {
                display: block;
            }
        }
    }
    // 테이블 컬럼 좌측 정렬
    .align-left {
        @for $i from 1 through 10 {
            &.col-#{$i} {
                tr {
                    td {
                        text-align: left;
                    }
                }
            }
            @include susy-breakpoint(em(860px)) {
                &.col-#{$i} {
                    tr {
                        td {
                            text-align: center;
                            &:nth-of-type(#{$i}) {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    [class^="br-"] {
        display: inline-block;
        @include susy-breakpoint(em(860px)) {
            display: block;
        }
    }
    // 테이블 컬럼 감추기
    .col-hidden {
        display: none !important;
    }
    .checkbox-type, .radio-type {
        + label {
            padding: 0;
        }
    }
    @include susy-breakpoint(em(860px)) {
        colgroup {
            &.col-hidden {
                display: table-column-group !important;
            }
        }
        col {
            &.col-hidden {
                display: table-column !important;
            }
        }
        tr {
            &.col-hidden {
                display: table-row !important;
            }
        }
        td, th {
            &.col-hidden {
                display: table-cell !important;
            }
        }
    }
}

// 리스트 내부 유형 테이블
[class*="table-view-type"] {
    width: 100%;
    @extend %clearfix;
    th, td {
        text-align: center;
        padding: 4px 10px;
        border: 1px solid #ccc;
        
    }
    th {
        font-weight: 500;
        color: #333;
        background: #f1f5f7;
        border-bottom: 0;
    }
    td {
        &.readable {
            color: #e57c00;
        }
        img {
            margin: 6px 0;
        }
    }
    &[class*="list-type"] {
        colgroup, col, thead {
            @extend %a11y-invisible;
        }
        thead, tbody {
            border-bottom: 1px solid #ccc;
        }
        tr {
            border-top: 1px solid #999;
            &:first-child {
                border-top: 1px solid #ccc;
            }
        }
        th, td {
            display: block;
            width: 100%;
            border-top: 0;
            border-bottom: 1px solid #ccc;
            border-left: 0;
            border-right: 0;
            &:last-child {
                border-bottom: 0;
            }
        }
        td {
            position: relative;
            min-height: 28px;
            padding: 4px 10px 4px 53%;
            &:before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                font-weight: 500;
                color: #333;
                padding: 4px 10px;
                background: #f1f5f7;
            }
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    &:before {
                        content: attr(data-before);
                    }
                }
            }
            &:last-child {
                &:before {
                    border-bottom: 0;
                }
            }
        }
    }
    @include susy-breakpoint(em($max-mobile) em(860px - 1)) {
        &[class*="list-type"] {
            tbody {
                td {
                    padding: 4px 10px 4px 32%;
                    &:before {
                        width: 30%;
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em(860px)) {
        tbody {
            border-bottom: 1px solid #ccc;
        }
        th, td {
            border: 1px solid #ccc;
            border-bottom: 0;
        }
        td {
            &:before {
                content: "";
            }
        }
        &[class*="list-type"] {
            width: 100%;
            colgroup, col, thead {
                @include a11y-visible(false);
            }
            thead {
                border-bottom: 0;
            }
            tbody {
                border-bottom: 1px solid #ccc;
            }
            th, td {
                display: table-cell;
                height: auto;
                text-align: center;
                border: 1px solid #ccc;
                border-bottom: 0;
            }
            td {
                padding: 4px 10px;
                &:before {
                    display: none;
                }
            }
        }
    }
}
.table-view-type-wrap {
    height: 559px;
    overflow-y: auto;
    border: 1px solid #ccc;
    table {
        tr:first-child {
            border-top: 0 !important;
        }
    }
    @include susy-breakpoint(em(860px)) {
        height: auto;
        border: 0;
        table {
            tr:first-child {
                border-top: 1px solid #ccc;
            }
        }
    }
}

// 게시판 유형 테이블
[class*="table-board-type"] {
    width: 100%;
    border-top: 2px solid #999;
    tr {
        th {
            color: #333;
            background: #f7f7f7;
        }
        th, td {
            text-align: center;
            min-height: 40px;
            padding: 9px 10px;
        }
    }
    &.from {
        tr {
            th, td {
                height: auto;
                line-height: 1.5;
                padding: 10px;
            }
        }
    }
    &.h-auto {
        tr {
            th, td {
                white-space: normal !important;
                text-overflow: clip !important;
            }
        }
    }
    thead {
        th {
            border-bottom: 1px solid #dedede;
        }
    }
    tbody {
        th, td {
            border-bottom: 1px solid #dedfe2;
        }
        td {
            @extend %word-short;
            .title {
                color: #1397c1;
            }
            img {
                vertical-align: -2px;
            }
            pre {
                padding: 20px 10px;
                font-weight: 300;
            }
        }
    }
    &[class*="list-type"] {
        colgroup, col, thead {
            @extend %a11y-invisible;
        }
        tr {
            th, td {
                display: block;
                width: 100%;
            }
            &:first-child {
                td {
                    border-top: 0;
                }
            }
        }
        td {
            position: relative;
            min-height: 40px;
            padding: 9px 10px 9px 43%;
            &:before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 40%;
                height: 100%;
                font-weight: 500;
                color: #333;
                padding: 9px 10px;
                background: #f7f7f7;
                content: "";
            }
            &:first-child {
                border-top: 2px solid #999;
            }
            &:last-child {
                margin-bottom: 10px;
                &:before {
                    border-bottom: 0;
                }
            }
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    &:before {
                        content: attr(data-before);
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em($max-mobile) em(860px)) {
        &[class*="list-type"] {
            tbody {
                td {
                    padding: 9px 10px 9px 32%;
                    &:before {
                        width: 30%;
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em(860px)) {
        tr {
            th {
                background: #f7f7f7;
            }
        }
        &[class*="list-type"] {
            width: 100%;
            colgroup, col, thead {
                @include a11y-visible(false);
            }
            tr {
                th, td {
                    display: table-cell;
                }
            }
            td {
                padding: 9px 10px;
                &:before {
                    display: none;
                }
                &:first-child {
                    border-top: 1px solid #dedfe2;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.table-board-prev-next-area {
    border-top: 1px solid #dedede;
    margin-top: 30px;
    dl {
        width: 100%;
        border-bottom: 1px solid #dedede;
        @extend %clearfix;
        dt, dd {
            float: left;
            padding: 9px 10px;
        }
        dt {
            width: 100px;
            color: #333;
            text-align: center;
            background: #f7f7f7;
            .fa {
                margin-left: 10px;
                &.fa-sort-up {
                    vertical-align: -3px;
                }
                &.fa-sort-down {
                    vertical-align: 2px;
                }
            }
        }
        dd {
            width: -webkit-calc( 100% - 100px );
            width: -moz-calc( 100% - 100px );
            width: calc( 100% - 100px );
            @extend %word-short;
        }
    }
}
.table-textarea-area {
    border-bottom: 1px solid #dedfe2;
    padding-bottom: 20px;
    margin: 20px 10px;
    .textarea {
        height: 150px;
    }
}