/* =======================================*/
/* 테이블 스타일
/* =======================================*/

// 리스트 내부 유형 테이블
[class*="table-view-type"] {
    width: 100%;
    @extend %clearfix;
    th, td {
        padding: 4px 10px;
        border: 1px solid #ccc;
        
    }
    th {
        font-weight: 500;
        color: #333;
        background: #f1f5f7;
        border-bottom: 0;
    }
    td {
        &.readable {
            color: #e57c00;
        }
        img {
            margin: 6px 0;
        }
    }
    .col-hidden {
        display: none;
    }
    @include susy-breakpoint(em(860px)) {
        col {
            &.col-hidden {
                display: table-column;
            }
        }
        tr {
            &.col-hidden {
                display: table-row;
            }
        }
        td, th {
            &.col-hidden {
                display: table-cell;
            }
        }
    }
    &[class*="list-type"] {
        thead, tbody {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        th, td {
            display: block;
            width: 100%;
            border-top: 0;
            border-bottom: 1px solid #ccc;
            border-left: 0;
            border-right: 0;
            &:last-child {
                border-bottom: 0;
            }
        }
        td {
            position: relative;
            min-height: 28px;
            padding: 4px 10px 4px 53%;
            &:before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                font-weight: 500;
                color: #333;
                padding: 4px 10px;
                background: #f1f5f7;
                content: "";
            }
            &:last-child {
                &:before {
                    border-bottom: 0;
                }
            }
        }
    }
    @include susy-breakpoint(em($max-mobile) em(860px)) {
        &[class*="list-type"] {
            tbody {
                td {
                    padding: 4px 10px 4px 32%;
                    &:before {
                        width: 30%;
                        content: "";
                    }
                }
            }
        }
    }
    @include susy-breakpoint(em(860px)) {
        tbody {
            border-bottom: 1px solid #ccc;
        }
        th, td {
            border: 1px solid #ccc;
            border-bottom: 0;
        }
        td {
            &:before {
                content: "";
            }
        }
        &[class*="list-type"] {
            display: table;
            width: 100%;
            thead {
                border-bottom: 0;
            }
            tbody {
                border-bottom: 1px solid #ccc;
            }
            th, td {
                display: table-cell;
                height: auto;
                text-align: center;
                border: 1px solid #ccc;
                border-bottom: 0;
            }
            td {
                padding: 4px 10px;
                &:before {
                    display: none;
                }
            }
        }
    }
}

// 게시판 유형 테이블
[class*="table-board-type"] {
    width: 100%;
    thead {
        border-top: 2px solid #45494d;
        th {
            border-right: 1px solid #d1d1d1;
            border-bottom: 1px solid #c2c2c2;
            background: #f0f3f5;
        }
    }
    tbody {
        th, td {
            border-right: 1px solid #d1d1d1;
            border-bottom: 1px solid #d1d1d1;
        }
        td {
            p {
                margin-bottom: 4px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    tr {
        th {
            color: #2e3a42;
            &.sub-title {
                font-weight: normal;
            }
        }
        th, td {
            height: 38px;
            text-align: center;
            padding: 8px 10px;
            &:last-child {
                border-right: 0;
            }
        }
    }
}