// 말줄임 처리
@mixin blet($size: 3px, $top: 16px, $left: 0, $bg: #454c5f) {
    position: relative;
    &:before {
        position: absolute;
        top: $top;
        left: $left;
        display: block;
        width: $size;
        height: $size;
        background: $bg;
        content: "";
    }
}