// 버튼 기본 디자인 설정
@mixin btn-size ($w: 70px, $h: 40px, $p: 0 20px, $bd-width: 2px, $fz: 14px) {
    $bdw: $bd-width * 2;
    position: relative;
    display: inline-block;
    min-width: $w;
    height: $h;
    line-height: $h - $bdw;
    font-size: $fz;
    text-align: center;
    padding: $p;
    border-width: $bd-width;
    .fa {
        font-size: ceil(($h - $fz) / 2 * 1.5);
        &.before {
            padding-right: 4px;
        }
        &.after {
            padding-left: 4px;
        }
        
    }
    .icon, img {
        vertical-align: middle;
        &.before {
            padding-right: 4px;
        }
        &.after {
            padding-left: 4px;
        }
    }
}
@mixin btn-defult-type ($color: #333, $bd: #585858, $bg: #fff, $bd-hover: #3466a2) {
    font-weight: 500;
    color: $color;
    border-color: $bd;
    border-style: solid;
    background: $bg;
    .fa {
        color: $color;
    }
    &:hover, &:focus {
        border-color: $bd-hover;
        transition: all .3s ease;
    }
}
@mixin btn-activation-type ($color: #fff, $bg: #3466a2, $bg-or-color-hover: #585858) {
    color: $color;
    background: $bg;
    .fa {
        color: $color;
    }
    &:hover, &:focus {
        background: $bg-or-color-hover;
        transition: all .3s ease;
    }
}