@mixin input-type ($w: 130px, $h: 35px, $p: 0 10px, $bd: 1px solid #c4c4c4, $bd-focus: 1px solid #3466a2,  $bg: #fff) {
    min-width: $w;
    input {
        width: $w;
        height: $h;
        line-height: $h;
        padding: $p;
        border: $bd;
        background: $bg;
    }
    input {
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari*/
            color: inherit;
        }
        &::-moz-placeholder {
            /* Firefox 19+*/
            color: inherit;
        }
        &:-ms-input-placeholder {
            /* IE 10+*/
            color: inherit !important;
        }
        &:-moz-placeholder {
            /* Firefox 18-*/
            color: inherit;
        }
        &:focus {
            border: $bd-focus;
        }
        &:focus::-webkit-input-placeholder {
          color:transparent;
        }
        &:focus:-moz-placeholder {
          color:transparent;
        }
        &:focus::-moz-placeholder {
          color:transparent;
        }
        &:focus:-ms-input-placeholder {
          color:transparent;
        }
    }
    label {
        line-height: $h;
    }
}
