@mixin select-box ($w: 130px, $h: 35px) {
    $lh: $h - 2;
    position: relative;
    width: $w;
    height: $h;
    label {
        position: absolute;
        width: 100%;
        height: $h;
        color: transparent;
        z-index: -1;
    }
    select {
        width: 100%;
        height: $h;
        color: inherit;
        line-height: $lh;
        padding: 0 26px 0 10px;
        border: 1px solid #c4c4c4;
        background: #fff url($icon-select-box-down) right 10px center no-repeat;
        /* 기본 버튼 속성 무시*/
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        &:focus {
            border: 1px solid #002847;
        }
        &::-ms-expand {
            display: none;
        }
    }
}