@mixin select-box ($w: 130px, $h: 35px, $bg: #fff, $bd: #c4c4c4, $bdf: #3466a2) {
    $lh: $h - 2;
    position: relative;
    width: $w;
    height: $h;
    line-height: $lh;
    vertical-align: top;
    label {
        position: absolute;
        width: 100%;
        height: $h;
        color: transparent;
        z-index: -1;
    }
    select {
        width: 100%;
        height: $h;
        color: inherit;
        line-height: $lh;
        padding: 0 30px 0 10px;
        border: 1px solid $bd;
        background: $bg url($icon-select-box-down) right 10px center no-repeat;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        option {
            background: #fff;
        }
        &:focus {
            border: 1px solid $bdf;
        }
        &::-ms-expand {
            display: none;
        }
    }
}