// 탭 제작 (탭 갯수)
@mixin tabs($num-of-tabs, $gutter) {
    @include clearfix(false);
    @for $i from 1 through $num-of-tabs {
        [role="tab"] {
            float: left;
            width: percent($i);
            padding: 0 $gutter;
            margin-bottom: -($gutter * 2);
            &:first-child {
                padding-left: 0;
            }
            &:nth-child(#{$num-of-tabs}#{"n"}) {
                position: relative;
                padding-right: 0;
                margin-bottom: ($gutter * 2);
                + [role="tab"] {
                    padding-left: 0;
                }
            }
        }
    }
}
