// =======================================
// Media Device Variables (Device)
// =======================================
$mobile: 360px
$tablet: 720px
$desktop: 1100px

// =======================================
// Media Queries Variables (Breakpoint)
// =======================================
$bp-mobile: 480px
$bp-desktop: $mobile
$bp-tablet: $tablet