/* =======================================*/
/* 버튼 반응형 적용 레이아웃 구성 설정
/* 클래스 col-1 ~ col-5 적용하여 버튼 정렬
/* ex) col-3 적용 시 1/3 사이즈의 크기로 변화
/* =======================================*/
.btn-set-area {
    margin-top: 30px;
    text-align: center;
    @extend %clearfix;
    [class^="btn-"] {
        @include span(full);
        margin-bottom: gutter(10px);
    }
    @include susy-breakpoint(em($min-mobile) em($tablet)) {
        [class^="btn-"] {
            @include layout(4 10px/82px);
            @include gallery(2 of 4);
            &.full {
                @include span(full);
            }
        }
        &.col-1 {
            [class^="btn-"] {
                float: none;
                width: auto;
                margin: auto;
            }
        }
    }
    @include susy-breakpoint(em($tablet + 1) em($desktop)) {
        [class^="btn-"] {
            float: none;
            width: auto;
            margin-right: 6px;
            margin-bottom: 6px;
        }
        &.col-2 {
            @include layout(8 10px/95px);
            [class^="btn-"] {
                @include gallery(4 of 8);
            }
        }
        &.col-3 {
            @include layout(9 10px/84px);
            [class^="btn-"] {
                @include gallery(3 of 9);
            }
        }
        &.col-4 {
            [class^="btn-"] {
                @include layout(8 10px/95px);
                @include gallery(2 of 8);
            }
        }
        &.col-5 {
            @include layout(10 10px/74px);
            [class^="btn-"] {
                @include gallery(2 of 10);
            }
        }
    }
    @include susy-breakpoint(em($desktop)) {
        [class^="btn-"] {
            width: auto;
            float: none;
            margin-right: 6px;
            margin-bottom: 6px;
        }
        *:last-child {
            margin-right: 0;
        }
    }
}

/* =======================================*/
/* 버튼 사이즈 설정
/* =======================================*/
// 컨텐츠 버튼 기본 사이즈
.btn-content-size {
    @include btn-size($h: 27px);
}
// 아이템 버튼 기본 사이즈
.btn-item-size {
    @include btn-size($h: 30px);
}
// 테이블 내부 버튼 기본 사이즈
.btn-in-size {
    @include btn-size($h: 35px);
}
// 테이블 외부 버튼 기본 사이즈
.btn-out-size {
    @include btn-size($h: 40px);
}
// 테이블 상세 버튼(table-view-type) 기본 사이즈
.btn-table-view-size {
    @include btn-size($w: 45px, $h: 23px, $p: 0 10px);
}
// 테이블 게시판(table-board-type) 기본 사이즈
.btn-table-board-size {
    @include btn-size($w: 56px, $h: 30px, $p: 0 10px);
}
// 더보기 버튼 사이즈
.btn-more-size {
    @include btn-size($w: 100%, $h: 40px, $fz: 18px);
    .icon.after {
        position: relative;
        display: inline-block;
        margin-left: 30px;
        vertical-align: inherit;
        &:before {
            position: absolute;
            top: -3px;
            right: 0;
            width: 13px;
            height: 3px;
            background: #fff;
            content: "";
        }
        &:after {
            position: absolute;
            top: -8px;
            right: 5px;
            width: 3px;
            height: 13px;
            background: #fff;
            content: "";
            transform: rotate(0deg);
            transition: transform 0.25s ease;
        }
    }
    &.open {
        .icon.after {
            &:after {
                background: $font-lnb-title-active;
                transform: rotate(90deg);
                transition: transform 0.25s ease;
            }
        }
    }
}

/* =======================================*/
/* 버튼 색상 설정
/* =======================================*/
// 버튼 기본 스타일
.btn-defult {
    @include btn-defult-type ($color: #333, $bd: #585858, $bg: #fff, $bd-hover: #3466a2);
}
// 버튼 활성화 스타일
.btn-blue {
    @include btn-activation-type ($bg: #3466a2, $bg-or-color-hover: #585858);
}
// 버튼 더보기 스타일
.btn-gray {
    @include btn-activation-type ($bg: #5f7a8f, $bg-or-color-hover: #4a6274);
}
// table-view-type 버튼 스타일
.btn-orange {
    @include btn-activation-type ($bg: #ff8134, $bg-or-color-hover: #ff8134);
}
// table-board-type 버튼 스타일
.btn-green {
    @include btn-activation-type ($bg: #1c8278, $bg-or-color-hover: #1c8278);
}